<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>{% block pagetitle %}{% endblock %}</title>
    <!-- load static -->
    {% load static %}
    <!-- CSS -->
    <link href="{% static 'foundation.min.css' %}" rel="stylesheet">
</head>
<body>
<main>
    <div class="container">
        <header class="top-bar">
            <a href="/" class="button large hollow">
                <span>Проект про английский</span>
            </a>
        </header>
        <hr>
        <div class="row column">
            <h1 style="margin: 0;" class="text-center">{% block page-title %}{% endblock %}</h1>
        </div>
        <hr>
        <p class="row small-up-3 medium-up-4 large-up-5 text-center">{% block page-lead %}{% endblock %}</p>
        <hr>
        {% block content %}{% endblock %}
        <footer>© 2023</footer>
    </div>
</main>
</body>
</html>