{% extends "base_page.html" %}

{% block page-title %}
Английский
{% endblock %}

{% block page-lead %}
Это страничка проекта про изучение английского.
{% endblock %}

{% block content %}
<div class="container" id="project-contents">
    <div class="row column">
        <h2 class="text-center">Что есть в этом проекте</h2>
    </div>
</div>
<hr>
<div class ="row small-up-3 medium-up-4 large-up-5">
    <div class="column">
        <a href="/words_list" class="button large hollow">Список слов</a>
    </div>
    <div class="column">
        <a href="/word_add" class="button large hollow">Добавить слово</a>
    </div>
</div>
{% endblock %}